
#footer, #under-player-comments, #hd-rightColVideoPage, #pb_template {
    display: none !important;
}


.footer-title, .footer, .logoFooterWrapper, .ad-link {
    display: none !important;
}


.sectionWrapper.streamatesModelsContainer, .logo.pornhub_logo, .menu.item-6.realsex, .removeAdLink.removeAdsStyle {
    display: none !important;
}

#main-container .video-wrapper {
    position: left;
    width: 100% !important;
}

iframe {
    display: none !important;
}
