  .hosterSiteDirectNav {
      margin-bottom: 15px !important;
  }
  .hosterSiteDirectNav ul li span strong {
      color: #000 !important;
  }
  .hosterSiteVideo ul li>div {
      background: transparent !important;
      border-color: #585858 !important;
  }
  .hosterSiteVideo {
      padding: 5px 0 5px !important;
      background: transparent !important;
  }
  .hosterSiteVideoButton {
      background: #243743 !important;
  }
  .hosterSiteTitle h2 {
      font-size: 30px !important;
      margin-top: 1px !important;
  }
  .hosterSectionTitle {
      background: transparent !important;
  }
  .changeLanguageBox {
      background: transparent !important;
      box-shadow: none !important;
      margin-bottom: 8px !important;
      padding-bottom: 5px !important;
      padding-top: 5px !important;
      border: none !important;
  }
  .selectedLanguage {
      border: none !important;
  }
  .logo-wrapper {
      background: #243743 none repeat scroll 0 0 !important;
  }
  .main-header {
      background-image: none !important;
      background: #243743 none repeat scroll 0 0 !important;
  }
  .inSiteWebStream {
      background: transparent !important;
  }
  .allSeriesBox, .globalNewsMessage, .pageTitle, .hosterSectionTitle, .descriptionSpoilerPlaceholder, .descriptionSpoilerLink, .submitNewDescription, .ContentContainerBox,  .socialshareboxseries, .socialMediaBox, .paragraph-end.black, #footer {
      display: none !important;
  }
  
  .marginBottom {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
  }
   .logo-wrapper {
      padding-top: 5px !important;
      padding-right: 5px !important;
      padding-left: 5px !important;
      height: 60px !important;
  }
  .primary-navigation {
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      padding-left: 15px !important;
      height: 65px !important;
  }
  .main-header {
      height: 65px !important;
  }
  .logged-out {
      height: 65px !important;
  }

   .ssto-share-buttons {
      display: none !important;
  }
  .primary-navigation .signup-toggle {
      color: #fff !important;
      background: transparent none repeat scroll 0 0 !important;
      border: 2px solid #0f1620 !important;
      background-color: #0f1620 !important;
      padding: 12px 25px !important;
      border-radius: 4px !important;
      margin-left: 25px !important;
  }
  .primary-navigation .signup-toggle:hover {
      color: #eee !important;
      border: 2px solid #888 !important;
      background: transparent !important;
  }
  .button.blue {
      background: #0f1620 !important;
  }
  .button.blue:hover {
      background: #888 !important;
  }
  /* Resize container */
   .container {
      width: 90vw !important;
  }
  .col-md-6-5 {
      width: 75% !important;
  }
  .topUserMonth, .tvSeriesCalendarNavigation, .col-md-8, .col-lg-4, #news, .homepageInformationText, .shoutbox, #supportFAQ {
      display: none !important;
  }
  .episodeGermanTitel {
      font-size: 20px !important;
  }
  .episodeEnglishTitel {
      font-size: 15px !important;
  }
  .breadCrumbMenu {
      margin: 5px 0 !important;
  }
  .markAsLastSeen {
      margin: 15px 20px 0 20px !important;
  }
  .coverListItem {
    margin-right: 2%;
    margin-left: 3%;
}
